/* header title area font */
.main-header .logo {
  
  padding-left: 0px;

}

.main-header {
  
  background-color:white;
}


#sidebarCollapsed #sidebarItemExpanded{
  
  border-radius: 25px;
}

.sidebar-menu{
  
  border-radius: 25px;
  
}

.main-sidebar {
  
  border-radius: 25px;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper{
  border-radius:25px;
}

img {
  
  border-radius:25px;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color:gray;
}

.skin-blue .main-header .navbar {
  border-radius: 25px;
  border-color: white;
  background-color:#FF511E;
  color:#FF511E;
  
}
/* sidebar menuitems when mouse hover */

.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #FF511E;
                              color:white;
                              }

/* background color of header (logo part) */
.skin-blue .main-header .logo {
          background-color: white; /* backgorund color of the logo header part */
          color: black; /* title text color */
          height: 50px;
          

        }
        
        
/* change the background color of header (logo part) when mouse hover */
.skin-blue .main-header .logo:hover {
          background-color: orange; /* backgorund color of the logo header part on mouse hover */
          color:black;
        }
  
/* Edit the below for the header title hyperlink */
.skin-blue .main-header .logo>a {
            color: black; /* color of the hyperlink text */

          
        }
        
/* Edit the below to get the header title hyperlink hover effect */  
.skin-blue .main-header .logo>a:hover {
          color:orange;  /* color of the hyperlink text on mouse hover */
          
        }